@model OnlineShoppingStore.Models.shirts
@{
    ViewBag.Title = "Supremeshirt";
}

<style>
    h3{text-align:left ; color:red}
</style>

<h3><i>@Model.supreme</i></h3>

<img  src="https://cdn.shopify.com/s/files/1/2254/7119/products/Black-1502767337UL_8df7a5ce-9ba1-4297-9ffb-6e056fedc64a_1024x1024.png?v=1504598484" height="250" width="250" />
